// Custom styles.

.amazon_one_book{
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.amazon_one_book > iframe{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: block;
}